body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  font-size: 25px;
  font-family: sans-serif;
}
h1 {
  font-size: 1.6rem;
  text-align: center;
}

button {
  font-size: 1.5rem;
}

li {
  text-transform: capitalize;
}

.loading {
  opacity: 0.5;
}
